<h1>This is your message to <%= @message.to_name %></h1>

<div class="message-container">
	<div class="card">

		<!-- front face -->
		<div class="front face">
			<div class="panel panel-primary">
		        <div class="panel-heading">
		          <h3 class="panel-title">
		            <% if @message.is_public %>
		            	<span class="tab-space"></span><span class="badge">Public</span>
		            <% end %>
		          </h3>
		        </div>
		        <div class="panel-body">
		            <p class="lead"><%= @message.msg %></p>
		            <br><hr>
		              Send a card for this message?
		        </div>
      		</div>
	  	</div>


	  	<!-- back face -->
	  	<div class="back face">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">
						This message has <%= pluralize(@message.addresses.count, "address") %>
					</h3>
				</div>
				<div class="panel-body">
					<% @message.addresses.first(2).each do |address| %>
						<address >
							<%= address.address_1 %><br>
							<%= address.city %>, <%= address.state.upcase %> <%= address.zip_code %><br><br>
							<button type="button" class="btn btn-success btn-xs">Send to this address $3</button>	
						</address>
					<% end %>
					<hr>
					<% if @message.addresses.count == 0 %>
					<%= link_to 'Add an address', new_message_address_path(@message), class: "btn btn-success btn-lg btn-block" %>
					<% end %>
					<% if @message.addresses.count > 0 %>
					<%= link_to 'Go to addresses page', message_addresses_path(@message), class: "btn btn-default btn-lg btn-block" %>
					<% end %>
				</div>
			</div>		  
		</div>
	</div>
</div>
<br>

<div class="msg-box">
    	<div>
   	   		<%= link_to "Delete", message_path(@message),
              method: :delete,
              data: { confirm: "Are you sure? If you have an address linked to this message, please click 'CANCEL' and delete it first." }, 
              class: "btn btn-danger" %>
   	   		<%= link_to "Edit", edit_message_path(@message), class: "btn btn-warning" %>
   	   		<%= link_to 'Back to messages', messages_path, class: "btn btn-default" %>
		</div>
</div>











