
<% if current_user %>
	You are logged in as <%= @current_user.first_name%>
	<%= link_to "LOG OUT", logout_path, method: :delete %>
<% else %>
	<%= link_to "SIGN UP", new_user_path %>
	<%= link_to "LOG IN", login_path %>
<% end %> 

<h1>All Users</h1>

<% @users.each do |user| %>
<ul>
	<li><%= user.first_name.capitalize %> <%= user.last_name.capitalize %> <%= link_to "Show", user_path(user) %> <%= link_to "Edit", edit_user_path(user) %> <%= link_to "Delete", user_path(user),
		method: :delete,
		data: {confirm: "Are you sure?"} %></li>
</ul>

	

<% end %>
