<h1>This is 1 of <%= pluralize(@address.message.addresses.count, "address") %> you have for your message to <%= @address.message.to_name %></h1>

<address>
	<p><strong><%= @address.message.to_name %></strong></p>
	<%= @address.address_1 %><br>
	<%= @address.city %>, 
	<%= @address.state.upcase %> 
	<%= @address.zip_code %>
	<hr>
	<p class="lead"><%= @address.message.msg %></p>

</address>

<%= link_to 'Delete', message_address_path,
      method: :delete,
      data: { confirm: 'Are you sure?' }, 
      class: "btn btn-danger" %>
<%= link_to 'Edit', edit_address_path, class: "btn btn-warning" %> 
<%= link_to 'Back to addresses', message_addresses_path(@message), class: "btn btn-default" %>	
<%= link_to 'Send $3', new_charge_path, class: "btn btn-success" %>