<%= form_for [@address.message, @address], :html => {:class => "form-signin"}  do |f| %>
 
	<div>
	    <%= f.label "Street" %>
	    <%= f.text_field :address_1, class: "form-control", :autofocus => true %>
  	</div>
 
	<div>
	    <%= f.label :city %>
	    <%= f.text_field :city, class: "form-control" %>
  	</div>

	<div>
	    <%= f.label :state %>
	    <%= f.text_field :state, class: "form-control" %>
  	</div>

  	<div>
	    <%= f.label :zip_code %>
	    <%= f.text_field :zip_code, class: "form-control" %>
  	</div>

  	<br>
  	<div>
    	<%= f.submit class: "btn btn-lg btn-success btn-block"%> 
    	<%= link_to "Cancel", message_addresses_path, class: "btn btn-lg btn-danger btn-block"%>
  	</div>
 
<% end %>

